@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

@await Component.InvokeAsync("_SignalRScriptBookingComponentPartial")

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Rezervasyon Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Rezervasyon İle İlgili İşlemleri aşağıdan gerçekleştirebilirsiniz.
						</div>
						<div id="BookingList"></div>
						<a href="/Booking/CreateBooking/" class="btn btn-primary">Yeni Rezervasyon Ekle</a>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>