
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<!-- Script -->
@await Component.InvokeAsync("_SignalRScriptsComponentPartial")

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">SignalR Connection</h4>
                    </div>

                    <div class="card-body">
                        <div class="alert alert-success">Connection Status: <strong id="connstatus"></strong></div>
                        <div class="alert alert-info">Category Count: <strong id="categorycount"></strong></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>