
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>

<!-- Head -->
@await Component.InvokeAsync("_UILayoutHeaderComponentPartail")

<body class="sub_page">

    <!-- Navbar -->
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    </div>
    <!-- Our Menu-->
    @await Component.InvokeAsync("_DefaultOurMenuComponentPartial")

    <!-- Footer -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    <!-- Script -->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>

