
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

    <!-- Head -->
    @await Component.InvokeAsync("_UILayoutHeaderComponentPartail")

<body class="@ViewBag.SubPage">

    <!-- Navbar -->
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    @Html.Raw(ViewBag.NavbarDiv)

    @RenderBody()

    <!-- Footer -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    <!-- Script -->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>