<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script type="text/javascript">
    $(document).ready(() => {
        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7274/signalrhub").build();

        $("#connstatus").text(connection.state);

        connection.start().then(() => {
            $("#connstatus").text(connection.state);

            setInterval(() => {
                connection.invoke("SendMenuTable");
            }, 1000);

        }).catch((err) => {
            console.log("SignalR bağlantı hatası:", err);
        });

        connection.on("ReceiveMenuTableList", (jsonData) => {
            const MenuTableList = JSON.parse(jsonData);

            let tableHtml = `<div class="row">`;
            $.each(MenuTableList, (index, item) => {
                let colorClass = item.status ? "widgetfalse" : "widgettrue";
                let statusText = item.status ? "Masa Dolu" : "Masa Boş";
                let iconSymbol = item.status ? "❌" : "✅";

                tableHtml += `
                    <div class="col-md-3 mb-4">
                        <div class="${colorClass}">
                            <div class="widget-icon">
                                <span class="custom-icon">${iconSymbol}</span>
                            </div>
                            <div class="widget-text">
                                <h3>${item.name}</h3>
                                <p>${statusText}</p>
                            </div>
                        </div>
                    </div>`;
            });

            tableHtml += "</div>";
            $("#menuTableList").html(tableHtml);
        });
    });
</script>