@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Yeni Kategori Ekle</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname" class="form-label">Kategori Adı</label>
                                <input type="text" class="form-control" id="categoryname" asp-for="Name" placeholder="Kategori adını giriniz...">
                            </div>

                            <div class="form-group mt-3">
                                <label for="status" class="form-label">Kategori Durumu</label>
                                <select class="form-control" asp-for="Status" id="status">
                                    <option value="true">Menüde Gözüküyor</option>
                                    <option value="false">Menüde Gözükmüyor</option>
                                </select>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-success">Kategoriyi Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>